/* Custom scrollbar adaptada al dark theme */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0f172a; } /* Slate 900 */
::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; } /* Slate 700 */
::-webkit-scrollbar-thumb:hover { background: #475569; }

html { scroll-behavior: smooth; }

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }